<ng-template #loader>
    <p>Loading...</p>
</ng-template>
<div *ngIf="dyteMeeting != undefined; else loader" id="dyte-meeting-container" class="display-flex">
    <dyte-participants-audio [meeting]="dyteMeeting" class="dyte"></dyte-participants-audio>
    <dyte-notifications [meeting]="dyteMeeting" class="dyte"></dyte-notifications>
    <div id="header" class="display-flex">
        <dyte-recording-indicator [meeting]="dyteMeeting" class="dyte"></dyte-recording-indicator>
        <dyte-meeting-title [meeting]="dyteMeeting" class="dyte"></dyte-meeting-title>
        <dyte-participant-count [meeting]="dyteMeeting" class="dyte"></dyte-participant-count>
    </div>
    <div id="stage-container" class="display-flex">
        <div id="logo">
            <img src="../../assets/images/dyte_logo_dark.svg" />
        </div>
        <div id="stage">
            <!-- Self particpant -->
            <dyte-participant-tile [participant]="dyteMeeting.self" id="self-tile" >
                <dyte-name-tag [meeting]="dyteMeeting" [participant]="dyteMeeting.self"></dyte-name-tag>
            </dyte-participant-tile>
            
            <!-- All joined particpants -->
            <ng-template ngFor let-item [ngForOf]="dyteParticpants">
                <dyte-participant-tile [participant]="item">
                    <dyte-name-tag [meeting]="dyteMeeting" [participant]="item"></dyte-name-tag>
                </dyte-participant-tile>
            </ng-template>

        </div>
    </div>
    <div id="control-bar" class="display-flex">
        <dyte-camera-toggle [meeting]="dyteMeeting" class="dyte"></dyte-camera-toggle>
        <dyte-mic-toggle [meeting]="dyteMeeting" class="dyte"></dyte-mic-toggle>
        <dyte-screen-share-toggle [meeting]="dyteMeeting"></dyte-screen-share-toggle>
    </div>
</div>