<ng-template #loader>
    <p>Loading...</p>
</ng-template>
<div *ngIf="dyteMeeting != undefined; else loader" id="dyte-meeting-container" class="display-flex">
    <!-- <dyte-participant-audio [meeting]="dyteMeeting" class="dyte"></dyte-participant-audio> -->
    <dyte-notifications [meeting]="dyteMeeting" class="dyte"></dyte-notifications>
    <div id="header" class="display-flex">
        <dyte-recording-indicator [meeting]="dyteMeeting" class="dyte"></dyte-recording-indicator>
        <dyte-meeting-title [meeting]="dyteMeeting" class="dyte"></dyte-meeting-title>
        <dyte-participant-count [meeting]="dyteMeeting" class="dyte"></dyte-participant-count>
    </div>
    <div id="stage" class="display-flex">
        <dyte-participant *ngIf="dyteMeeting.self" [peer]="dyteMeeting.self" [meeting]="dyteMeeting" ></dyte-participant>
        <dyte-participant 
            *ngFor="let participant of dyteMeeting.participants.active.toArray()"
            [peer]="participant"
            [meeting]="dyteMeeting"
        ></dyte-participant>
    </div>
    <div id="control-bar" class="display-flex">
        <dyte-camera-toggle [meeting]="dyteMeeting" class="dyte"></dyte-camera-toggle>
        <dyte-mic-toggle [meeting]="dyteMeeting" class="dyte"></dyte-mic-toggle>
        <dyte-leave-button class="dyte"></dyte-leave-button>
        <dyte-chat-toggle [meeting]="dyteMeeting" class="dyte"></dyte-chat-toggle>
        <dyte-participants-toggle [meeting]="dyteMeeting" class="dyte"></dyte-participants-toggle>
        <!-- <dyte-polls-toggle [meeting]="dyteMeeting" class="dyte"></dyte-polls-toggle> -->
        <dyte-plugins-toggle [meeting]="dyteMeeting" class="dyte"></dyte-plugins-toggle>
        <dyte-fullscreen-toggle class="dyte"></dyte-fullscreen-toggle>
        <!-- <dyte-screenshare-toggle [meeting]="dyteMeeting" class="dyte"></dyte-screenshare-toggle> -->
        <dyte-settings-toggle [meeting]="dyteMeeting" class="dyte"></dyte-settings-toggle>
    </div>
</div>