<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
<body>
    <div class="container">
        <div class="logo">
            <img src="./assets/images/dyte_logo.svg" />
        </div>
        <div class="display-flex">
            <a class="flex-child-33" href="/dyte-default-config">Dyte default config</a>
            <a class="flex-child-33" href="/dyte-custom-elements">Building your own UI!</a>
        </div>
    </div>
</body>
</html>

